<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mvenghaus_OrderPrevent::index" title="Order Prevent" module="Mvenghaus_OrderPrevent" sortOrder="11" action="mvenghaus_orderprevent/rule" resource="Mvenghaus_OrderPrevent::default" parent="Magento_Sales::sales_operation"/>
    </menu>
</config>
